* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: purple;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  /* background-color: red; */
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  background-color: #dc143c90;
  box-shadow: 10px 5px 10px crimson;
  border-radius: 10px;
}
